extend ../views/layoutExtern

block content
	h3 Thank you for using ERApp. You're now logged out.
	p
	a(href='http://127.0.0.1:3000/login') Login again
	p 
	a(href='http://127.0.0.1:3000/signup') Signup